img { 
  border-style: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}


div.slide-background.present {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#books-table td {
   border-style: none !important;
}
