<configuration>
    <configSections>
        <section name="akka"
                 type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

    <akka>
        <hocon>
            <![CDATA[
              akka {
                log-config-on-start = off
                stdout-loglevel = INFO
                loglevel = ERROR
            
                actor {
                    // separate dispatcher for CPU-bound actors
                    calc-dispatcher {
                        type = ForkJoinDispatcher
                            throughput = 100
                            dedicated-thread-pool {
                                thread-count = 10
                                threadtype = background
                            }
                    }

                    // note * and double quotes!
                    deployment {
                        "/allocator/*" {
                            dispatcher = akka.actor.calc-dispatcher
                        }
                    }
                }
              }
            ]]>
        </hocon>
    </akka>
</configuration>
