<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <akka>
        <hocon>
            <![CDATA[
          akka {
            log-config-on-start = on
            stdout-loglevel = DEBUG
            loglevel = DEBUG

            actor {
                provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"

                // turn on debug output to see server-side activity
                debug {
                    receive = on 
                    autoreceive = on
                    lifecycle = on
                    event-stream = on
                    unhandled = on
                }
            }

            // add 127.0.0.1 alias to C:\Windows\System32\drivers\etc\hosts
            remote {
                    helios.tcp {
                        port = 8080
                        hostname = remote-akka
                    }
             }
          }
        ]]>
        </hocon>
    </akka>
</configuration>